<style>

.cover {
  padding: 0 1.5rem;
}

body {
  height: 100%;
  color: #fff;
  background-color: #333;
}


.cover-container {
  max-width: 42em;
}


</style>

<body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
<main role="main" class="inner cover">
    <h1 class="cover-heading">Privacy</h1>
    <br>
    <br>
    <h4>TERMS OF PRIVACY</h4>

<p>Card Maestro is committed to protecting the privacy of its users.
Our privacy terms are designed to give you a better understanding of how we collect, use and protect the information you provide to us to help you make the best decision when deciding to use our services.
In this clause, "service" means the content of the service described on https://cardmaestro-group-9.herokuapp.com/. "We", "me" and "our" refer to the Card Maestro.
"You" means the user of the service.
"Projects" include consultations, questionnaires and written reports.
"Customer" means an organization that signs a service contract with us.
"Site" means our web page.
If you accept our privacy terms, you agree to our collection, storage, use and disclosure of your personal information (only referred to in this privacy clause).
</p>

<br>
<br>
<br>
<br>
<h4>INFORMATION WE COLLECT</h4>

We collect "non-personal information" and "personal information".
Non-personal information includes information that cannot be used to personally identify you, such as anonymous usage data that we may collect, general population statistics, page information and URLs, platform type, your submitted preferences and based on your use of the website Data and traffic preferences.
Personal information includes information such as name, contact information, professional skills, and career history that you submit by registering on the website or contacting us by email.

<br>
<br>
<br>
<br>
<h4>INFORMATION COLLECTED VIA TECHNOLOGY</h4>

You can activate the service without submitting any personal information by submitting your email address.
To use the service after that, you need to submit further personal information.
In order to improve the quality of the service, we track the information that you generate when you browse or use our services using a browser or our application software, such as which page you go to our website after browsing, which browser you use, through Which device is linked to our service, the date and time of access, and other information that does not personally identify you.

<br>
<br>
<br>
<br>
<h4>INFORMATION YOU PROVIDE US BY REGISTERING FOR AN ACCOUNT</h4>


In addition to the information provided automatically by the browser you use, you also need to create a profile to become a user of the service.
You can register by creating an account and entering your personal information.
After registering, you authorize us to collect, store and use your personal information in accordance with this privacy policy.

<br>
<br>
<br>
<br>
<h4>HOW WE PROTECT INFORMATION</h4>


Your account is protected by your password. We urge you to log out of your account after each use of the service so that your password is not leaked.
We further implement specific security technologies including encryption, firewall and secure socket layer technology to prevent intrusion.
However, these methods do not ensure that your information will not be contacted, leaked, warned, or destroyed after intrusion into the firewall and security software.
By using our services, you understand and agree that these risks exist.

  </main>


  </div>
  </body>