<style>

.cover {
  padding: 0 1.5rem;
}

body {
  height: 100%;
  color: #fff;
  background-color: #333;
}


.cover-container {
  max-width: 42em;
}


</style>

<body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
<main role="main" class="inner cover">
    <h1 class="cover-heading">Privacy</h1>
    <br>
    <br>
    <h4>TERMS OF PRIVACY</h4>

<p>Card Maestro is committed to protecting the privacy of its users.
Our privacy terms are designed to give you a better understanding of how we collect, use and protect the information you provide to us to help you make the best decision when deciding to use our services.
In this clause, "service" means the content of the service described on https://cardmaestro-group-9.herokuapp.com/. "We", "me" and "our" refer to the Card Maestro.
"You" means the user of the service.
"Projects" include consultations, questionnaires and written reports.
"Customer" means an organization that signs a service contract with us.
"Site" means our web page.
If you accept our privacy terms, you agree to our collection, storage, use and disclosure of your personal information (only referred to in this privacy clause).
</p>


<h4>INFORMATION WE COLLECT</h4>

We collect "non-personal information" and "personal information".
Non-personal information includes information that cannot be used to personally identify you, such as anonymous usage data that we may collect, general population statistics, page information and URLs, platform type, your submitted preferences and based on your use of the website Data and traffic preferences.
Personal information includes information such as name, contact information, professional skills, and career history that you submit by registering on the website or contacting us by email.

INFORMATION COLLECTED VIA TECHNOLOGY
INFORMATION COLLECTED THROUGH TECHNICAL MEANS

You can activate the service without submitting any personal information by submitting your email address.
To use the service after that, you need to submit further personal information.
In order to improve the quality of the service, we track the information that you generate when you browse or use our services using a browser or our application software, such as which page you go to our website after browsing, which browser you use, through Which device is linked to our service, the date and time of access, and other information that does not personally identify you.
We track this information using cookies or small text files containing anonymous unique identifiers.
Cookies are sent to the user's browser and stored on the user's computer hard drive.
Sending cookies to a user's browser allows us to collect non-personal information about the user and to record the user's preferences when using our services, including single and multiple people.

INFORMATION YOU PROVIDE US BY REGISTERING FOR AN ACCOUNT
INFORMATION YOU PROVIDED WHEN YOU REGISTERED YOUR ACCOUNT

In addition to the information provided automatically by the browser you use, you also need to create a profile to become a user of the service.
You can register by creating an account and entering your personal information.
After registering, you authorize us to collect, store and use your personal information in accordance with this privacy policy.

HOW WE USE INFORMATION
HOW WE USE INFORMATION

Personal Information, Personal Information <br> We use your personal information in projects and will contact you for potential project opportunities in the past, present and future.
The personal information you provide to us will help us communicate with you and our customers.
For example, we confirm problems based on the user's personal information, obtain feedback, provide technical support and inform users of business opportunities, company services and project-related compensation.
We may also disclose your personal information to clients or non-client third parties of ongoing projects in order to promote our business.

Non-Personal Information, non-personal information <br> We use non-personal information to help us enhance and customize the user experience.
We also collect non-personal information to track trends and analyze user habits.
This privacy policy does not restrict our use or disclosure of non-personal information. We reserve the right to use and disclose non-personal information to our partners, advertisers and other third parties.
If we acquire or merge with another company or sell all or part of our business, your personal information may also become part of the assets being sold.
You acknowledge and acknowledge that such transactions may occur and are permitted by this Privacy Policy. As mentioned earlier in this article, any company that acquires our assets will continue to retain and use your personal information.
If the way our information is used changes at any time in the future, we will post it on the website so that you can log out in a timely manner.
If you are concerned about how your information is used, we recommend that you check the website information frequently.

HOW WE PROTECT INFORMATION
HOW WE PROTECT INFORMATION

We implement security monitoring to protect your information from unauthorized access.
Your account is protected by your password. We urge you to log out of your account after each use of the service so that your password is not leaked.
We further implement specific security technologies including encryption, firewall and secure socket layer technology to prevent intrusion.
However, these methods do not ensure that your information will not be contacted, leaked, warned, or destroyed after intrusion into the firewall and security software.
By using our services, you understand and agree that these risks exist.

YOUR RIGHTS REGARDING THE USE OF YOUR PERSONAL INFORMATION
YOUR RIGHT TO USE PERSONAL INFORMATION

As a registered user, you will update your career and employment history information, and you agree that the information provided is true and updated.
You can view or update your information at any time by logging in to your account or contacting our staff via email.
You have the right to send an unsubscribe letter to unsubscribe@liahnson.com at any time.
Unless approved, registered users who have withdrawn from the service will no longer be able to use the website or other services provided by us.
We will stop contacting users who have withdrawn from the service, but will retain their information for a reasonable time or for a period required by law.
You should also be aware that we may require the retention of relevant information to prevent bribery or any other legal purpose based on what is agreed in this privacy policy.

LINKS TO OTHER WEBSITES
LINKS TO OTHER WEBSITES

As part of the service, we may provide links to other websites or applications compatible with other websites.
However, we are not responsible for the privacy terms of these sites or the information or content retained by them.
This privacy policy is only valid for information collected by our website or service.
Therefore, this privacy policy does not apply to other websites or services that you log in to through our links.
If you log in to other websites and use related services, you should comply with the corresponding privacy terms.
We encourage our users to read the privacy statement before using other websites.

CHANGES TO OUR PRIVACY POLICY
CHANGES TO PRIVACY POLICY

The company reserves the right to change this policy and terms of service at any time.
We will notify you of important changes to the privacy policy by sending an email to your main email address in your account or by posting a notice on a prominent location on the website.
Important changes will take effect within 30 days of notification.
Unwritten changes or clarifications will take effect immediately.
You should always keep an eye on website and page updates.
  </main>


  </div>
  </body>