<div class="container-fluid">
<div class="container-fluid">
  <div class="row-fluid pt-2 pl-2">
<style>

</style>



<h1>My Inbox</h1>

<div class="row">
<div class="card col-sm-4" style="overflow:scroll;">

<div class="row dflex justify-content-between py-2">
<h4 class="mb-1 pl-3"><%=fa_icon "comments"%> Conversations</h4>

<button type="button" class="btn btn-outline-primary mx-3"
    data-toggle="collapse" data-target="#new">
  New Message    
</button>

</div>

      <ul class="list-group list-group-flush">

         <% @conversations.each do |conversation| %>
            <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
            <% if conversation.sender_id == current_user.id %>
              <% recipient = User.find(conversation.recipient_id) %>
            <% else %>
              <% recipient = User.find(conversation.sender_id) %>
            <% end %>
            

          <li class="list-group-item user-select bg-light" id="15" name='user-select'>
            <div class="d-flex">
              <h5><%= link_to recipient.email, conversation_messages_path(conversation)%></h5>
            </div>
          </li>


            <% end %>
          <% end %>


      </ul>
    </div>


      <div class="col-sm-8">
        <div class="chatbody">

          <table class="table">
            <tr>
              <td></td>
            </tr>
          </table>
          
          <div id="messages" class="messages">
            No Messages 
          </div>
        </div>
        

            <div class="row col-sm-8">
              <form action="/users/21" accept-charset="UTF-8" data-remote="true" method="post"><input name="utf8" type="hidden" value="&#x2713;" />
                <div class="col-xs-12">
                  <textarea class="form-control" name="message[text]" id="message_text">
                </textarea><br/>
                </div>

                <div class="col-xs-3 capitalize">
                  <button name="button" type="button" onclick="javascript:sendMessage()" class="btn btn-info btn-block">Send Message</button>
                </div>
              </form>      
            </div>

</div>
   










<div class="panel panel-default">
<div class="col-lg-6">
  <div id="mail" class="collapse">
    <h1 class="panel-heading">All Conversations:</h1>
    <div class="panel-body">
     <div class="item">
      <% @conversations.each do |conversation| %>
      <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
       <% if conversation.sender_id == current_user.id %>
         <% recipient = User.find(conversation.recipient_id) %>
       <% else %>
         <% recipient = User.find(conversation.sender_id) %>
       <% end %>
       <h3><%= link_to recipient.email, conversation_messages_path(conversation)%></h3>
      <% end %>
     <% end %>
     </div>
    </div>
   </div>
  <div id="new" class="collapse">
    <div class="panel-body">
     <h1 class="panel-heading">All Users can chat with:</h1>
       <% @users.each do |user| %>
        <% if user.id != current_user.id %>
         <div class="item"><h3>
      <%= link_to user.email,
       conversations_path(sender_id: current_user.id, recipient_id: user.id), method: "post"%>
     </h3></div>
      <% end %>
     <% end %>
    </div>
  </div>
</div>
</div>



</div>
</div>
</div>