
<style>

.cover {
  padding: 0 1.5rem;
}

body {
  height: 100%;
  color: #fff;
  background-color: #333;
}


.cover-container {
  max-width: 42em;
}


</style>




<h1>Sitemap</h1>
<ul class="list-unstyled text-small">
        <li><a class="nav-link" href=<%=new_card_path %>><%=fa_icon "th-large"%> Add Cards</a></li>
        
        <li class="nav-item">
        <a class="nav-link" href=<%=conversations_path%>><%=fa_icon "envelope-open"%> Inbox</a>
      </li>
      </ul>

