<style>

.cover {
  padding: 0 1.5rem;
}

body {
  height: 100%;
  color: #fff;
  background-color: #333;
}


.cover-container {
  max-width: 42em;
}


</style>

<body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
<main role="main" class="inner cover">

<h1 class="cover-heading">Terms and Conditions</h1>
<p class="lead">
Last updated: November 26,2019 <br>

Please read these Terms and Conditions carefully before using the http://www.cardmaestro.com website operated by CardMaestro-Group 9.<br>

Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Service.<br>

By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the Service.<br>

<p class="lead">
<h3>Purchases </h3>
<p class="lead">
If you wish to purchase any product or service made available through the Service ("Purchase"), you may be asked to supply certain information relevant to your Purchase.

</p>

<br>

<h3>Trades</h3>
<p class="lead">

  The users can trade their cards through our website. Users can search the cards they want and find the right person to make a trade.
  
</p>

<br>
<h3>Content</h3>

<p class="lead">
Our Service allows you to post, link, store, share and otherwise make available certain information, text, graphics, videos, or other material ("Content").

</p>

<br>


<p class="lead">
<h3>Links To Other Web Sites</h3>
<p class="lead">
Our Service may contain links to third-party web sites or services that are not owned or controlled by Card Maestro.

Card Maestro has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party web sites or services. You further acknowledge and agree that Card Maestro shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such web sites or services.
</p>

<br>
<p class="lead">
Changes

We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material we will try to provide at least 30 days' notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.
</p>
<br>

<h3>Contact Us </h3>
<p class="lead">
If you have any questions about these Terms, please contact us.

</p>
  </p>
  
  
  
  </main>


  </div>
  </body>