<style>

.cover {
  padding: 0 1.5rem;
}

body {
  height: 100%;
  color: #fff;
  background-color: #333;
}


.cover-container {
  max-width: 42em;
}


</style>

<body class="center">
    <div class="cover-container d-flex  p-3 mx-auto flex-column">
<main role="main" class="inner cover">
    <h1 class="cover-heading">Frequently Asked Questions</h1>


    <h3>How Do I Add A Card?</h3>
      1. Click the "Add Cards" tab on the navigation bar
      <br>2. Select the Set (also known as expansion) that the card you wish to add belongs to
      <br>If you do not know the Set of the card, Google search the name of the card and the number at the bottom left of the card
      <br>For cards printed before 2001 which do not have a set number, refer to this <a href = "https://i.stack.imgur.com/Dqc2B.gif" >flowchart</a>
      <br>3. Select the name of the card
      <br>4. Select whether the card is foil or not (foil cards are identified by their holographic, shiny finish)
      <br>5. Select the quality of the card. Refer to this <a href = "https://www.mtgseattle.com/card_condition_guide"> guide </a> to learn about card quality
      <br>6. Enter a value that you think the card is worth
      <br>7. Select whether to add the card to your Collection or Wishlist
      <br><br>
    <h3>How do I Initiate A Trade?</h3>
      1. Enter the name of a card you are looking for in the Search field of the navigation bar
      <br>2. Click the profile of a user you wish to trade with
      <br>3. Click the trade button on their profile
      <br>4. Select any cards you wish to offer, and any cards you wish to receive
      <br>5. Enter a money amount that you wish to offer or receive 
      <br>6. Click Submit
      <br><br>
    <h3>How Do I Complete A Trade?</h3>
      Trades are categorized into three stages, Pending, Accepted, and Completed
      <br> We recommend that you stay in contact with users you have trades with by using the "Inbox" tab 
      <br> Before you accept or initiate a trade, you should confirm with the other user how you will exchange your cards and/or money
      <br> Note: Once a trade is accepted, both users have comitted to the other user that they will send them cards and/or money
      <br><br>
    <h5>Pending Trades</h5>
     If you initiated a trade, you may cancel the trade 
      <br> If you received a trade from another user, you may accept or decline the trade
      <br><br>
      <h5>Accepted Trades</h5>
      Once a trade is accepted both users should exchange their respective cards and/or money
      <br> Click your status in a trade to confirm that you have received the cards and/or money you expected
      <br> Once both users have confirmed, the trade is considered Completed
      <br><br>
    <h5>Completed Trades</h5>
      After a trade is confirmed by both users, you can rate the other user and leave a comment
      <br><br>
    <h3>How Do I Avoid Scams?</h3>
    1. We recommend that you exchange cards and/or money face-to-face
    <br> 2. For higher value cards, consider meeting at a local card shop to get the cards verified for authenticity
    <br> 3. Don’t click on links sent by other users. 
    <br><br>
  </main>


  </div>
  </body>