<style>

.cover {
  padding: 0 1.5rem;
}

body {
  height: 100%;
  color: #fff;
  background-color: #333;
}


.cover-container {
  max-width: 42em;
}


</style>

<body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
<main role="main" class="inner cover">
    <h1 class="cover-heading">FAQ</h1>
    <p class="lead">Why are we doing this lol</p>
    <p>- why we need set number?</p>
    <p>- how to use trades?</p>
    <p>- how to find set number?</p>
    <p>- how to avoid scams?</p>
    1. Never send money to someone you have never met face-to-face.
    2. Don’t click on links or open attachments in unsolicited email. 
    3. Be extremely cautious when dealing with anyone you’ve met online. 
    4. Never share personally identifiable information
    5. Be cautious about what you share on social media
  </main>


  </div>
  </body>