<style>

.cover {
  padding: 0 1.5rem;
}

body {
  height: 100%;
  color: #fff;
  background-color: #333;
}


.cover-container {
  max-width: 42em;
}


</style>

<body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
<main role="main" class="inner cover">
    <h1 class="cover-heading">Card Maestro</h1>
    <p class="lead">
    Card Maestro is a platform for buying, selling, and trading Magic the Gathering cards.
    Users can upload cards to their collection or wishlist, contact other users, and trade with other users.
    </p>
    <p class="lead">Card Maestro is not affiliated in any way with Hasbro or its subsidiary, Wizards of the Coast. </p>

    <br><br>
    <h1>Magic The Gathering</h1>
    <p class="lead">Magic: The Gathering is both a collectible and digital collectible card game created by Richard Garfield, released in 1993 by Wizards of the Coast (now a subsidiary of Hasbro).</p>
    <br>
    <a href = "https://magic.wizards.com/en/new-to-magic"> New to Magic the Gathering? </a>

    <br><br>
    <h1> MTG-SDK </h1>
    <p class="lead">Our database of Magic the Gathering cards is supplied by <a href = "https://github.com/MagicTheGathering/mtg-sdk-ruby"> MTG-SDK </a></p>
 

    <br><br>
    <h1>Contributors</h1>  
      <p class="lead">Yuanfan Wang
      <br>Donald Lleshi
      <br>Romal Peccia
      <br>Yizhi Xu
      </p>


  </main>


  </div>
  </body>