<style>

.cover {
  padding: 0 1.5rem;
}

body {
  height: 100%;
  color: #fff;
  background-color: #333;
}


.cover-container {
  max-width: 42em;
}


</style>

<body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
<main role="main" class="inner cover">
    <h1 class="cover-heading">Card Maestro</h1>
    <p class="lead">Some maintain collections of various cards, such as baseball (or more generally, sports) cards, magic cards, or Yu Gi Oh cards. Such cards can become valuable and are often traded or sold. The basic idea behind this service is to allow clients to keep track of the cards they own and support the trading/selling of such cards.</p>
  </main>


  </div>
  </body>