<style>

.cover {
  padding: 0 1.5rem;
}

body {
  height: 100%;
  color: #fff;
  background-color: #333;
}


.cover-container {
  max-width: 42em;
}


</style>


<body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
<main role="main" class="inner cover">
    <h1 class="cover-heading">Contact Us</h1>
    <br>
    <br>
    <div class="container">
    
    <div class="row">
      <div class="col-md-4">
        <h5>Contacts</h5>
                    <br>Email: cardmaestro@main.com
                    <br>Phone: +1 888-788-7878
                    <br>Fax: +1 777-777-8888
      </div>
      <div class="col-md-4">
        <h5>Address</h5>
        <p class="mbr-text">
                    <br>1234 Street Name
                    <br>City, AA 99999
        </p>
        
      </div>
      <div class="col-md-4">
        <h5>Feedback</h5>
                    <br>Please send us your ideas, bug reports, suggestions! Any feedback would be appreciated.
      </div>
    </div>

    <hr>
  <br>
  </div> <!-- /container -->
    <p class="lead">Card Maestro is available in major social media platforms including Facebook, Instagram and Twitter. Visit our pages for updates and interesting upcoming features</p>
  </main>


  </div>
  </body>